<div class="group-members-actions">
   {{text-field
     value=filterInput
     placeholderKey="rstudio_filter"
     class="group-username-filter no-blur"}}

  <div class="group-members-manage">
    {{#if canManageGroup}}
      {{d-button
        icon="plus"
        action=(route-action "showAddMembersModal")
        label="groups.add_members.title"
        class="group-members-add"}}
       
       {{#if currentUser.admin}}
         {{d-button
           icon="plus"
           action=(route-action "showBulkAddModal")
           label="admin.groups.bulk_add.title"
           class="group-bulk-add"}}
       {{/if}}
    {{/if}}
  </div>
</div>

{{#if hasMembers}}
  <table class='group-members r-consultants'>
    <tbody>
      {{#each sortedMembers as |user|}}
        {{#unless user.owner}}
          {{group-directory-item user=user consultantBadges=model.consultantBadges}}
        {{/unless}}
      {{/each}}
     </tbody>
  </table>

  {{conditional-loading-spinner condition=loading}}
{{else}}
  <br>
  <div>{{i18n "groups.empty.members"}}</div>
{{/if}}
